.nav {
  height: 40pt;
  display: flex;
  justify-content: space-between;
}
.nav > div:nth-child(1) {
  flex: 1;
  background-color: #d43e2a !important;
  text-align: center;
  color:white;
}
.nav > div:nth-child(2) {
  flex: 5;
}
.right-nav {
  padding: 0px 20px;
  margin: 0px 20px;
  background-color: #d43e2a !important;
  height: 40pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.right-nav > i {
  font-size: 24pt;
  cursor: pointer;
  color:white;
}
.right-nav > img {
  border: solid white 1px;
  border-radius: 50%;
}
/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  z-index: 1;
  min-width: 100px;
  display: none;
  position: absolute;
  left: -75%;
  top:50px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.dropdown-content > ul {
  list-style: none;
  display: inline;
}

.dropdown-content > ul > li {
  margin-bottom: 5px;
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #d43e2a;
  font-weight: bold;
}
.dropdown-content > ul > li:hover {
  color: white;
  background-color:  #d43e2a ;

}
.dropdown-content.dark > ul > li {
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (max-width: 768px) {
  .right-nav {
    margin: 0px;
    border-radius: 0px;
  }
  .nav > div:nth-child(2) {
    flex: 2;
  }
}