.body-sidebar {
  background-color: #d43e2a !important;
  color: #f1f2f6;
  min-height: 100vh;
  flex: 1;
  padding-top: 60px;
}
.body-sidebar > .list-sidebar {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 20px;
  color: #f1f2f6;
  padding: 10px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
  transition: 100ms;
  position: relative;
}
.body-sidebar > .list-sidebar:hover {
  display: flex;
  align-items: center;
  background-color: #f1f2f6;
  color: #d43e2a;
  margin: 10px 0px 10px 20px;
  padding: 10px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.body-sidebar > .list-sidebar:hover {
  display: flex;
  align-items: center;
  background-color: #f1f2f6;
  color: #d43e2a;
  margin: 10px 0px 10px 20px;
  padding: 10px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.body-sidebar > .list-sidebar.active::before {
  background: transparent;
  top:-40px;
  width:40px;
  right:-2px;
  height: 40px;
  position: absolute;
  content:'';
  border-radius: 50%;
  box-shadow: 30px 30px 0 10px #f1f2f6;
}
.body-sidebar > .list-sidebar.active::after {
  background: transparent;
  bottom:-40px;
  width:40px;
  right:-2px;
  height: 40px;
  position: absolute;
  content:'';
  border-radius: 50%;
  box-shadow: 30px -35px 0 10px #f1f2f6;
}
.body-sidebar > .list-sidebar:hover::before {
  background: transparent;
  top:-40px;
  width:40px;
  right:-2px;
  height: 40px;
  position: absolute;
  content:'';
  border-radius: 50%;
  box-shadow: 30px 30px 0 10px #f1f2f6;
}
.body-sidebar > .list-sidebar:hover::after {
  background: transparent;
  bottom:-40px;
  width:40px;
  right:-2px;
  height: 40px;
  position: absolute;
  content:'';
  border-radius: 50%;
  box-shadow: 30px -35px 0 10px #f1f2f6;
}
.body-sidebar > .list-sidebar > i {
  font-size: 24px;
  padding: 0px 10px;
}
.body-sidebar > .list-sidebar > p {
  font-size: 16px;
}
.body-sidebar > .list-sidebar.active {
  background-color: #f1f2f6;
  color: #d43e2a;
}
@media only screen and (max-width: 768px) {
  .body-sidebar > .list-sidebar > i {
    font-size: 14px;
    padding: 0px px;
  }
  .body-sidebar > .list-sidebar > p {
    font-size: 12px;
  }
  .body-sidebar > .list-sidebar {
    margin: 5px 0px 5px 5px;
    border-radius: 30px 0px 0px 30px;
  }
}
