.body-sidebar{
    background-color:  #d43e2a !important;
    color:white;
    min-height: 100vh;
    flex:1;
}
.body-sidebar>div{
    display: flex;
    align-items: center;
    color:#d43e2a  ;
    margin-left:20px;
    background-color: white;
    padding:10px;
    border-radius: 30px 0px 0px 30px;
}
.body-sidebar>div>i{
    font-size : 24px;
    padding:0px 10px;
}
.body-sidebar>div>p{
    font-size : 16px;
}
.body-sidebar>ul>li{
    list-style: none;
    margin:10px 0px;
}
.body-sidebar>ul>li>i{
    font-size:30px;

}